{% extends 'front.html.twig' %}
    {% block content %}


    <tr>    User : {{ user.username }} </tr> <br>
    Evenemenet : {{ event.name }}
        {{ form_start(form) }}

    <label>nombre of places </label>

    <tr> {{ form_widget(form.nbrPlace) }}</tr> <br>

    ( Number of places available : {{ event.capacity }} ) <br>

        <tr style="color: #0b0b0b"> {{form_widget(form.confirm)}} </tr> <br>

        <tr>  <a  class="btn btn-dark"  href="{{ path('evenement') }}" style="color :white; padding: 15px" > back to list</a> </tr>

    {{ form_end(form) }}
        <script src="{{ asset('/js/PreventReload.js') }}"
    {% endblock %}
