{% extends 'front.html.twig' %}


{% block content %}

<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>voyage | Landing, Corporate &amp; Business Templatee</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset ('tempp/assets/img/favicons/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset ('tempp/assets/img/favicons/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('tempp/assets/img/favicons/favicon-16x16.png')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset ('tempp/assets/img/favicons/favicon.ico ')}}">
    <link rel="manifest" href="{{ asset ('tempp/assets/img/favicons/manifest.json')}}">
    <meta name="msapplication-TileImage" content="{{ asset ('tempp/assets/img/favicons/mstile-150x150.png')}}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{{ asset ('tempp/assets/css/theme.css')}}" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
     
      <section class="mt-7 py-0">
        <div class="bg-holder w-50 bg-right d-none d-lg-block" style="background-image:url(tempp/assets/img/gallery/hero-section-1.png);">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row">
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
              <h1 class="display-3 text-1000 fw-normal">Let’s Sign Up !</h1>
              <h1 class="display-3 text-primary fw-bold">Discover the beauty</h1>
              <div class="pt-5">
                <nav>
                  
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div class='row g-4 mt-5'> 
                        <div class="col-sm-6 col-md-6 col-xl-5">

                         {{ form_start(form)}}
                          <div class="input-group-icon">
                            <label class="form-label visually-hidden" for="inputAddress1">Address 1</label>
                            {{ form_widget(form.nom,{'attr':{ 'placeholder': 'Entrez votre nom' ,'class': 'form-control input-box form-voyage-control', 'id':"inputAddress1" }})}}
                            <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-user"></i></span>
                            <div style="color:red">{{ form_errors(form.nom) }} </div>
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-5">
                          <div class="input-group-icon">
                            <label class="form-label visually-hidden" for="inputAddress2">Address 2</label>
                            
                            {{ form_widget(form.prenom,{'attr':{ 'placeholder': 'Entrez votre Prenom' ,'class': 'form-control input-box form-voyage-control', 'id':"inputAddress2" }})}}
                            <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-user"> </i></span>
                            <div style="color:red">{{ form_errors(form.prenom) }} </div>
                          </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-xl-5">
                          <div class="input-group-icon">
                           
                            {{ form_widget(form.email,{'attr':{ 'placeholder': 'Entrez votre email' ,'class': 'form-control input-box form-voyage-control', 'id':"inputAddress2" }})}}
                            <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-envelope-open"></i></span>
                            <div style="color:red">{{ form_errors(form.email) }} </div>
                          </div>
                        </div>


                        <div class="col-sm-6 col-md-6 col-xl-5">
                          <div class="input-group-icon">
                             {{ form_widget(form.password,{'attr':{ 'placeholder': 'Entrez votre password' ,'class': 'form-control input-box form-voyage-control', 'id':"inputAddress2" }})}}
                             <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-key"></i></span>
                             <div style="color:red">{{ form_errors(form.password) }} </div>
                          </div>
                        </div>

                        
                        <div class="col-sm-6 col-md-6 col-xl-5">
                          <div class="input-group-icon">
                             {{ form_widget(form.confirm_password,{'attr':{ 'placeholder': 'Entrez votre password' ,'class': 'form-control input-box form-voyage-control', 'id':"inputAddress2" }})}}
                           <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-key"> </i></span>
                            <div style="color:red">{{ form_errors(form.confirm_password) }} </div>
                          </div>
                        </div>


                        
                        <div class="col-sm-6 col-md-6 col-xl-5">
                          <div class="input-group-icon">
                            {{ form_widget(form.date_naissance,{'attr':{ 'placeholder': 'Entrez votre date de naissance' ,'class': 'form-control', 'type':'date' ,'id':'inputdateOne' }})}}         
                           <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-calendar"> </i></span>
                             <div style="color:red">{{ form_errors(form.date_naissance) }} </div>
                          </div>
                        </div>

                        
                        <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6">
                          <button class="btn btn-warning" type="submit">Sign Up</button>
                        </div>
                        {{ form_end(form)}}
                      </form>
                    
                        
</div>
         </div>    
         </div> </div> 
         </div> </div> 
         </div> 
         </section>


                         
             <!-- Mobile Menu -->
             


<script src="{{ asset ('tempp/assets/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{ asset ('tempp/assets/styles/bootstrap4/popper.js')}}"></script>
<script src="{{ asset ('tempp/assets/styles/bootstrap4/bootstrap.min.js')}}"></script>
<script src="{{ asset ('tempp/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js')}}"></script>
<script src="{{ asset ('tempp/assets/plugins/easing/easing.js')}}"></script>
<script src="{{ asset ('tempp/assets/js/custom.js')}}"></script>

{% endblock %}
