

<div class="preloader-img pere-text">
    <img src="{{ asset('front/assets/img/logo/LOGO.png')}}" alt="">
</div>
<H1 style="color:#002aff" align="center">PDF reservation  </H1>
<h3>merci de réserver avec TravelTrue</h3>

<p>Détail de votre reservation:</p>
<table class="table" border="0.1">

    <tr>
        <th>
            nom : Prenom client
        </th>
        <th>
            title chambre
        </th>
        <th>
            prix chambre
        </th>
        <th>
            Quantite
        </th>
        <th>
            Prix Total
        </th>
        <th>
            Date Debut
        </th>
        <th>
            Date Fin
        </th>
    </tr>

    </thead>
    <tbody>
        <tr>
            <td>{{ r.utilisateur.nom~" "~r.utilisateur.prenom }}</td>
            <td>{{ r.chambre.title }}</td>
            <td>{{ r.chambre.prix }}</td>
            <td>{{ r.quantite }}</td>
            <td>{{ r.quantite * r.chambre.prix  }}</td>
            <td>{{ r.datedebut | date('Y-m-D') }}</td>
            <td>{{ r.datefin | date('Y-m-D') }}</td>
        </tr>
    </tbody>
</table>


<h4 align="right" >bon séjour </h4>