{% extends 'back.html.twig' %}



{% block content %}
<h1> Create a New Event </h1>


{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}

<table>
    <tr>
        <td> {{form_label(form.name, "Name") }}</td>
        <td> {{form_widget(form.name)}} </td>
        <td> {{form_errors (form.name)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.dateDebut, " Start Date") }}</td>
        <td> {{form_widget(form.dateDebut)}} </td>
        <td> {{form_errors (form.dateDebut)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.dateFin, " End Date") }}</td>
        <td> {{form_widget(form.dateFin)}} </td>
        <td> {{form_errors (form.dateFin)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.capacity, " Capacity ") }}</td>
        <td> {{form_widget(form.capacity)}} </td>
        <td> {{form_errors (form.capacity)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.description, " Description of event ") }}</td>
        <td> {{form_widget(form.description)}} </td>
        <td> {{form_errors (form.description)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.adresse, " Adresse ") }}</td>
        <td> {{form_widget(form.adresse)}} </td>
        <td> {{form_errors (form.adresse)}} </td>
    </tr>
</table>
    {{ form_widget(form) }}
{{form_end(form)}}
    <style>
        #layoutSidenav #layoutSidenav_content {
            display: block;
        }
    </style>
{% endblock %}
