{% extends 'back.html.twig' %}



{% block content %}
<h1 style="color: #014b85">Créer un nouvel événement </h1>


{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="table-responsive">
<table class="table mb-0 " id="mytable" >
    <tr>
        <td> {{form_label(form.name, "Nom"  )  }}  </td>

        <td> {{form_widget(form.name)}} </td>
        <td> {{form_errors (form.name)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.dateDebut, " Date Debut ") }}</td>
        <td> {{form_widget(form.dateDebut)}} </td>
        <td> {{form_errors (form.dateDebut)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.dateFin, "  Date Fin ") }}</td>
        <td> {{form_widget(form.dateFin)}} </td>
        <td> {{form_errors (form.dateFin)}} </td>
    </tr>
    <tr>
        <td input placeholder="capacité.." > {{form_label(form.capacity, " Capacité ") }}</td>
        <td> {{form_widget(form.capacity)}} </td>
        <td> {{form_errors (form.capacity)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.description, " Description de l'evenement") }}</td>
        <td> {{form_widget(form.description)}} </td>
        <td> {{form_errors (form.description)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.adresse, " Adresse ") }}</td>
        <td> {{form_widget(form.adresse)}} </td>
        <td> {{form_errors (form.adresse)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.image, " Image ") }}</td>
        <td> {{form_widget(form.image)}} </td>
        <td> {{form_errors (form.image)}} </td>
    </tr>
    <tr>
        <td> {{form_label(form.Creer, " Ajouter ") }}</td>
        <td> {{form_widget(form.Creer)}} </td>
    </tr>
    </table>
</div>
    {{ form_widget(form) }}
{{form_end(form)}}
    <style>
        #layoutSidenav #layoutSidenav_content {
            display: block;
        }
    </style>
{% endblock %}
