


{% extends 'front.html.twig' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		
		
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="template/images/fav.png">
		
		<!-- Stylesheets -->
		<link href="{{ asset ('template/css/responsive.css')}}" rel="stylesheet">
		<link href="{{ asset ('template/css/style.css')}}" rel="stylesheet">
		<link href="{{ asset ('template/css/datepicker.min.css')}}"  rel="stylesheet">
		<link href="{{ asset ('template/css/jquery.range.css')}}"  rel="stylesheet">
		<link href="{{ asset ('template/vendor/bootstrap/css/bootstrap.min.css')}}"  rel="stylesheet">
		<link href="{{ asset ('template/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
		<link href="{{ asset ('template/vendor/OwlCarousel/assets/owl.carousel.css')}}"  rel="stylesheet">
		<link href="{{ asset ('template/vendor/OwlCarousel/assets/owl.theme.default.min.css')}}"  rel="stylesheet">
		
		<!-- Semantic Css -->
		<link rel="stylesheet" type="text/css" href="template/vendor/semantic/semantic.min.css">
		
		<!-- Map Box -->
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
				
	</head>
	<body>
		<!-- Search Model Start -->
		<div class="modal srch-model fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header sheader">
						<button type="button" class="close srch-close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="text" class="srch-input" placeholder="Search Keywords...">
					</div>				
				</div>
			</div>
		</div>
		<!-- Search Model End -->
		<!-- Header Start -->
		
		<!-- Header End -->
		
		<!-- Body Start -->	
		<main class="">				
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="account_dt_left">
							<div class="job-center-dt">
								<img alt="" src = "{{ ('uploads/') ~ user.photo}}">
								<div class="job-urs-dts">
									<div class="dp_upload">
										
									</div>
									<h3>{{user.nom}} {{""}} {{user.prenom}} </h3>
									<span>{{ user.DateNaissance () |date('d-m-Y')}}</span>
									<li><a href="#" class="web_link"><i class="fas fa-globe"></i>{{user.email}}</a></li>
									
								</div>													
							</div>
							<!-- Body Start -->	
		<main class="browse-section">				
			<div class="container">
				<div class="row">
					<div class="col-md-8">						
						
						<div class="post501">
							<form>	
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											
											<div class="avtar_dp">
												<img src="template/images/profile_dp.jpg" alt="">
											</div>
											<div class="image-upload-wrap1 ml5">
												<input class="file-upload-input1" id="file3" type="file" onchange="readURL(this);" accept="image/*">
												<div class="drag-text1">
													Upload Files
												</div>																	
											</div>
										</div>																
									</div>															
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label15">Company Name*</label>
											<input type="text" class="job-input" placeholder="Your Company Name">
										</div>
									</div>															
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label15">Email Address*</label>
											<input type="email" class="job-input" placeholder="Enter Your Email Address">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label15">Launch Date*</label>
											<div class="smm_input">
												<input type="text" class="job-input datepicker-here" data-language="en" placeholder="Select Launch Date">
												<div class="mix_max"><i class="fas fa-calendar-alt"></i></div>															
											</div>															
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label15">About Description*</label>
											<div class="description_dtu">
												<div class="description_actions">
													<a href="#"><i class="fas fa-bold"></i></a>
													<a href="#"><i class="fas fa-italic"></i></a>
													<a href="#"><i class="fas fa-list-ul"></i></a>
													<a href="#"><i class="fas fa-list-ol"></i></a>
												</div>
												<textarea class="textarea70" placeholder="Describe your experience, skills, etc. In complete details. This is your chance to show off."></textarea>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label15">Tagline*</label>
											<input type="email" class="job-input" placeholder="Wordpress Developer">
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label15">Skills*</label>
											<div class="ui fluid multiple search selection dropdown skills-search">
												<input name="tags" type="hidden" value="">
												<i class="dropdown icon"></i>
												<input class="search" autocomplete="off" tabindex="0"><span class="sizer" style=""></span><div class="default text">Skills</div>
												<div class="menu transition hidden" tabindex="-1">
													<div class="item selected" data-value="angular">Angular</div>
													<div class="item" data-value="css">CSS</div>
													<div class="item" data-value="design">Graphic Design</div>
													<div class="item" data-value="ember">Ember</div>
													<div class="item" data-value="html">HTML</div>
													<div class="item" data-value="ia">Information Architecture</div>
													<div class="item" data-value="javascript">Javascript</div>
													<div class="item" data-value="mech">Mechanical Engineering</div>
													<div class="item" data-value="meteor">Meteor</div>
													<div class="item" data-value="node">NodeJS</div>
													<div class="item" data-value="plumbing">Plumbing</div>
													<div class="item" data-value="python">Python</div>
													<div class="item" data-value="rails">Rails</div>
													<div class="item" data-value="react">React</div>
													<div class="item" data-value="repair">Kitchen Repair</div>
													<div class="item" data-value="ruby">Ruby</div>
													<div class="item" data-value="ui">UI Design</div>
													<div class="item" data-value="ux">User Experience</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label15">Availability*</label>
											<div class="ui fluid search selection dropdown skills-search">
												<input name="tags" type="hidden" value="">
												<i class="dropdown icon"></i>
												<input class="search" autocomplete="off" tabindex="0">
												<span class="sizer" style=""></span>
												<div class="default text">I’m not sure</div>
												<div class="menu transition hidden" tabindex="-1">
													<div class="item selected" data-value="Availability1">Full Time</div>										
													<div class="item selected" data-value="Availability2">Part Time</div>									
													<div class="item selected" data-value="Availability3">Not Available</div>																			
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label15">Experience Level*</label>
											<div class="ui fluid search selection dropdown skills-search">
												<input name="tags" type="hidden" value="">
												<i class="dropdown icon"></i>
												<input class="search" autocomplete="off" tabindex="0">
												<span class="sizer" style=""></span>
												<div class="default text">Select Experience Level</div>
												<div class="menu transition hidden" tabindex="-1">
													<div class="item" data-value="level1">level 01</div>										
													<div class="item" data-value="level2">level 02</div>										
													<div class="item" data-value="level3">level 03</div>										
													<div class="item" data-value="level4">level 04</div>										
													<div class="item" data-value="level5">level 05</div>										
													<div class="item" data-value="level6">level 06</div>										
													<div class="item" data-value="level7">level 07</div>										
													<div class="item" data-value="level8">level 08</div>										
													<div class="item" data-value="level9">level 09</div>										
													<div class="item" data-value="level10">level 10</div>																										
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label15">Pay Rate ($/hr)*</label>
											<div class="smm_input">
												<input type="text" class="job-input" placeholder="Enter Your Page Rate">
												<div class="mix_max">Usd</div>															
											</div>															
										</div>															
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<label class="label15">Languages*</label>
											<div class="ui fluid search selection dropdown skills-search">
												<input name="tags" type="hidden" value="">
												<i class="dropdown icon"></i>
												<input class="search" autocomplete="off" tabindex="0">
												<span class="sizer" style=""></span>
												<div class="default text">Select Language</div>
												<div class="menu transition hidden" tabindex="-1">
													<div class="item" data-value="lang1">English</div>										
													<div class="item" data-value="lang2">Hindi</div>										
													<div class="item" data-value="lang3">Punjabi</div>										
													<div class="item" data-value="lang4">Bengali</div>										
													<div class="item" data-value="lang5">Portuguese</div>										
													<div class="item" data-value="lang6">Russian</div>										
													<div class="item" data-value="lang7">Japanese</div>										
													<div class="item" data-value="lang8">Telugu</div>										
													<div class="item" data-value="lang9">French</div>										
													<div class="item" data-value="lang10">German</div>																										
												</div>
											</div>
										</div>
									</div>															
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label15">Location*</label>
											<div class="smm_input">
												<input type="text" class="job-input" placeholder="Type Address">
												<div class="loc_icon"><i class="fas fa-crosshairs"></i></div>															
											</div>															
										</div>															
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<label class="label15">Websites*</label>
											<div class="smm_input5">
												<input type="text" class="website-input" placeholder="Http://entercompanysite.com">
												<div class="loc_icon5"><i class="fas fa-globe"></i></div>															
											</div>
											<div class="smm_input5">
												<input type="text" class="website-input" placeholder="Http://enterblogsite.com">
												<div class="loc_icon5"><i class="far fa-edit"></i></div>															
											</div>
											<div class="smm_input5">
												<input type="text" class="website-input" placeholder="Http://enterportfoliosite.com">
												<div class="loc_icon5"><i class="fas fa-columns"></i></div>															
											</div>
										</div>															
									</div>						
									<div class="col-lg-12">
										<button class="post_jp_btn" type="submit">Finish Company Profile</button>
									</div>
								</div>
							</form>
						</div>
					</div>
						</div>																																	
				</div>
			</div>					
		</main>
							
							
						
							
						</div>
					</div>
									
																																										
				</div>
			</div>					
		</main>
		<!-- Body End -->
		
		<!-- Scroll to Top Button Start -->
		<button onclick="topFunction()" id="pageup" title="Go to top"><i class="fas fa-arrow-up"></i></button>
		<!-- Scroll to Top Button End -->
		<!-- Scripts js -->	
		<script src="{{ asset ('template/js/jquery.min.js')}}" ></script>
		<script src="{{ asset ('template/js/datepicker.min.js')}}" ></script>
		<script src="{{ asset ('template/js/i18n/datepicker.en.js')}}" ></script>
		<script src="{{ asset ('template/vendor/bootstrap/js/bootstrap.bundle.min.js')}}" ></script>
		<script src="{{ asset ('template/vendor/OwlCarousel/owl.carousel.js')}}" ></script>
		<script src="{{ asset ('template/vendor/semantic/semantic.min.js')}}" ></script>
		<script src="{{ asset ('template/js/jquery.range-min.js')}}" ></script>
		<script src="{{ asset ('template/js/custom1.js')}}" ></script>

		
		<!-- Map Box JS -->
		<script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
		<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
		<script>
			mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FtYm9sIiwiYSI6ImNqdm03bzYydDE2cW00YWwyeHprd3FqamcifQ.HBy4R4sRcXgbgn2OteqFkQ';
			var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
			mapboxClient.geocoding.forwardGeocode({
			query: 'Ludhiana, India',
			autocomplete: false,
			limit: 1
			})
			.send()
			.then(function (response) {
			if (response && response.body && response.body.features && response.body.features.length) {
			var feature = response.body.features[0];
		 
			var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [75.8429,30.9042],
			zoom: 10
			});				
  
			new mapboxgl.Marker()
			.setLngLat(feature.center)
			.addTo(map);
			}
			
			// Add zoom and rotation controls to the map.
			map.addControl(new mapboxgl.NavigationControl());
			});						
		</script>
		
	</body>
	
</html>
{% endblock %}