{% for vol in flights  %}
    <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-place mb-30">
            <div class="place-img">
                <img src="{{ asset('front/assets/img/vols/'~ vol.image)}}" style="width: 200px; height:200px;"  alt="">
            </div>
            <div class="place-cap">
                <div class="place-cap-top">
                    <h3><a href="#">{{ vol.villedepart~" "~"~"~" "~vol.villearrivee }}</a></h3>
                    <p class="dolor">{{ vol.prix }}<span>TND</span></p>
                </div>
                <div class="place-cap-bottom">
                    <ul>
                        <li><i class="far fa-clock"></i>{{ vol.datedepart | date('Y-m-D') }}</li>
                        <li><i class="far fa-clock"></i>{{ vol.datearrive | date('Y-m-D') }}</li>
                    </ul>
                    <ul>
                        <li><i class="far fa-plane"></i>num plane : {{ vol.numplane }}</li>
                        <li><i class="far fa-calendar"></i>compagnie : {{ vol.compagnie }}</li>
                        <li><i class="far fa-calendar"></i>capacite : {{ vol.quantite }}</li>
                    </ul>
                    <ul>
                        <div class="badge badge-success">Reservé</div>

                        <a class="btn btn-primary"  href="{{ path('reserver' , {'id' : vol.id}) }}">Reserver</a>
                    </ul>
                    <ul>
                        <a class="btn btn-secondary" href="{{ path('pdf' , {'id' : vol.id}) }}">Pdf</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('https://js.stripe.com/v3/')}}"></script>
    <script>
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_51ITrmKDemurknTpxNogaH6qwkkX1HK7bxuSwQU2CGyorqtm0u4sXCrbYFAsbFLTRv1tZPANLJCzSiKCxL40xQXi90040tZxsuX');
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch('/create-checkout-session', {
                method: 'POST',
            })
                .then(function(response) {
                    return response.json();
                })
                .then(function(session) {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function(result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });
    </script>
{% endfor %}